<div id="error_explanaton">
        <% if @user.errors.any? %>
          <h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        
      </div>